.banner {
  width: 100%;
  height: 480px;
}

.banner .fs_inner {
  width: 1190px;
  height: 480px;
  margin: 0 auto;
  position: relative;
}

.banner .cate {
  width: 190px;
  position: absolute;
  left: 0px;
}

.cate_menu {
  width: 169px;
  height: 468px;
  background: #fefefe;
  padding: 6px;
  padding-left: 15px;
}

.cate_menu li {
  height: 26px;
}

.cate_menu li a {
  font-size: 14px;
  color: #626262;
}

.banner {
  margin-bottom: 12px;
}

.banner .news_top {
  height: 153px;
  text-align: center;
}

.banner .news_top .tu_touxiang {
  height: 65px;
  margin-bottom: 8px;
  position: relative;
}

.banner .news_top .tu_touxiang img {
  box-shadow: 0px 0px 10px #d0d0d0;
  border: 5px solid #e4e3e3;
  border-radius: 50%;
  margin: auto;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 55px;
  top: -8px;
}

.banner .news_top .regist {
  margin-top: 5px;
}

.banner .news_top .regist a {
  color: #666666;
}

.banner .news_top .left_yuan,
.banner .news_top .right_yuan {
  margin-top: 10px;
  width: 70px;
  height: 25px;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 3px 3px 3px #d0d0d5;
  text-align: center;
  line-height: 25px;
}

.banner .news_top .left_yuan {
  background: #ffffff;
}

.banner .news_top .left_yuan a {
  color: red;
}

.banner .news_top .right_yuan {
  background: #363634;
}

.banner .news_top .right_yuan a {
  color: #e5d790;
}

.banner .J_tab_head {
  height: 24px;
  margin: 10px 0px;
}

.banner .J_tab_head .news_first {
  height: 24px;
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 800;
  line-height: 24px;
  margin-left: 10px;
}

.banner .J_tab_head .news_more {
  height: 24px;
  float: right;
  margin-right: 10px;
  line-height: 24px;
}

.banner .news {
  width: 190px;
  height: 470px;
  background: #fefefe;
  position: absolute;
  right: 0px;
  top: 10px;
}

.banner .news_list {
  border-bottom: 1px solid #d8d8d2;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.banner .news_list span {
  border-radius: 3px;
  display: inline-block;
  width: 35px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  height: 16px;
  background: #e47f7f;
}

.banner .news_list li {
  margin-left: 10px;
  height: 20px;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner .center-tu {
  height: 470px;
  width: 190px;
  position: absolute;
  top: 10px;
  right: 200px;
}

.banner .center-tu .li1,
.banner .center-tu .li2 {
  margin-bottom: 10px;
}

.banner .center-tu img {
  width: 190px;
  height: 150px;
}

.banner .service_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner .service_list li {
  width: 42px;
  height: 50px;
}

.banner .service_list li i {
  display: block;
}

.banner .service_list li a {
  text-align: center;
}

.banner .service_list li span {
  display: block;
  text-align: center;
}

.banner .inner_banner {
  height: 470px;
  width: 590px;
  position: absolute;
  left: 200px;
}

.banner .inner_banner ul {
  position: relative;
}

.banner .inner_banner ul li {
  position: absolute;
  top: 10px;
}

.banner .slider_icon {
  position: absolute;
  z-index: 1;
  left: 40%;
  bottom: 20px;
  font-size: 0;
  padding: 4px 8px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.3);
}

.banner .slider_icon i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
}

.banner .btn {
  background: #fff;
}

.banner .arrow {
  width: 30px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  margin-top: -30px;
}

.banner .prve {
  left: 0;
}

.banner .next {
  right: 0;
}

.banner .arrow span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

.banner .slider_left {
  margin: 25px 0 0 10px;
  transform: rotate(45deg);
}

.banner .slider_right {
  margin: 25px 0 0 5px;
  transform: rotate(-135deg);
}

.se-kl {
  width: 190px;
  height: 275px;
  background-color: #e83632;
  position: relative;
}

.se-kl .se-cn {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 34px;
  color: #fff;
}

.se-kl .se-en {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.se-kl .se-io {
  width: 20px;
  height: 33px;
  position: absolute;
  background: url(../img/seckill.png) no-repeat;
  background-position: -32.5px 0;
  background-size: 52.5px 40px;
  left: 85px;
  top: 126px;
  display: block;
}

.se-kl .se-info {
  position: absolute;
  top: 170px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #fff;
}

.se-count {
  position: absolute;
  top: 212px;
  left: 30px;
  height: 40px;
}

.se-count .se-hour,
.se-count .se-min,
.se-count .se-sec {
  position: relative;
  background-color: #2f3430;
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
}

.se-count .se-hour .se-txt,
.se-count .se-min .se-txt,
.se-count .se-sec .se-txt {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.se-count .se-hour .se-txt:before,
.se-count .se-min .se-txt:before,
.se-count .se-sec .se-txt:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e83632;
}

.lazy_sec {
  width: 100%;
  height: 300px;
}

.lazy_sec .inner-sec1 {
  height: 275px;
  background: beige;
  margin: auto;
  width: 1190px;
  position: relative;
}

.lazy_sec .center-banner {
  width: 804px;
  height: 275px;
  background: #ffffff;
  position: absolute;
  left: 190px;
}

.lazy_sec .banner-ul1 {
  display: flex;
  justify-content: space-between;
}

.lazy_sec .banner-ul1 li {
  width: 193px;
  height: 244px;
  padding: 30px 3px 0 3px;
  border: 1px solid #e9e9e9;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.lazy_sec .banner-ul1 li div {
  width: 190px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 15px 0;
}

.lazy_sec .banner-ul1 li .banner_li_price span {
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid red;
}

.lazy_sec .banner-ul1 li .sp_left {
  font-weight: 600px;
  color: #ffffff;
  background: red;
  font-weight: bolder;
}

.lazy_sec .banner-ul1 li .sp_right {
  color: #b7bcb8;
}

.lazy_sec .banner-ul1 li img {
  margin: auto;
  width: 140px;
  height: 140px;
}

.lazy_sec .banner-ul1 .last_li {
  border-right: 1px solid #e9e9e9;
}

.lazy_sec .banner-left {
  width: 196px;
  height: 275px;
  position: absolute;
  right: 0px;
  background: #ffffff;
  overflow: hidden;
}

.lazy_sec .banner-left ul {
  height: 275px;
  width: 392px;
}

.lazy_sec .banner-left ul li {
  float: left;
  width: 196px;
}

.lazy_sec .banner-left ul .top_title {
  color: #222222;
  font-size: 14px;
  font-weight: bold;
}

.lazy_sec .banner-left ul p {
  margin-top: 0;
  color: #ffffff;
  text-align: center;
}

.lazy_sec .banner-left ul .p2 {
  font-size: 16px;
  font-weight: bolder;
}

.lazy_sec .banner-left ul .top_title {
  text-align: center;
}

.lazy_sec .banner-left ul img {
  width: 130px;
  height: 130px;
  margin: auto;
}

.lazy_sec .banner-left .banner_back1 {
  height: 75px;
  padding-top: 20px;
  width: 180px;
  margin: auto;
  background: url(../img/banner_back1.png);
}

.lazy_sec .slider_icon {
  position: absolute;
  z-index: 1;
  left: 35%;
  bottom: 7px;
  font-size: 0;
  padding: 4px 8px;
}

.lazy_sec .slider_icon i {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 5px;
  background: red;
}

.mod_service {
  width: 100%;
  padding: 30px 0px;
}

.mod_service .mod_service_list {
  width: 1190px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.mod_service .mod_service_item {
  width: 297px;
  text-align: center;
}

.mod_service h5,
.mod_service p {
  display: inline-block;
}

.mod_help {
  width: 100%;
  height: 200px;
  border-top: 1px solid #d5d5d5;
}

.mod_help .mod_list {
  width: 1190px;
  height: 160px;
  padding: 20px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d5d5d5;
}

.mod_help .mod_list li {
  margin: 5px 0;
}

.mod_help .mod_list a {
  color: #666666;
}

.mod_help .mod_list .mod_help_nav {
  width: 198px;
}

.mod_help .mod_list .mod_help_cover {
  width: 200px;
}

.mod_copyright {
  width: 100%;
  height: 300px;
}

.mod_copyright .mod_copyright_inner {
  width: 1190px;
  margin: auto;
  height: 300px;
}

.mod_copyright p {
  display: flex;
  justify-content: center;
}

.mod_copyright p span {
  margin: 0 5px;
}

.mod_copyright a {
  color: #999999;
}

.mod_copyright .mod_copyright_links a {
  color: #666666;
}

.more_block {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.more_block .more_inner_block {
  width: 1190px;
  margin: auto;
}

.more_block .more_inner_block p {
  margin-bottom: 30px;
}

.more_block ul {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-around;
}

.more_block ul li {
  width: 200px;
  height: 235px;
  background: #ffffff;
  text-align: center;
  padding: 50px 15px 20px 15px;
}

.more_block ul li span {
  display: inline-block;
  margin-right: 10px;
  color: red;
  font-size: 18px;
  margin-top: 10px;
}

.more_block ul li .jian {
  width: 30px;
  border: 2px solid red;
  border-radius: 2px;
  font-size: 10px;
  vertical-align: 4px;
}

.more_block img {
  width: 150px;
  height: 150px;
  margin: auto;
}

.more_block .tu_details {
  width: 198px;
  height: 36px;
  overflow: hidden;
  white-space: nowarp;
  text-overflow: ellipsis;
  color: #7d7d7d;
  margin-top: 15px;
}

.title p {
  width: 1190px;
  height: 45px;
  margin: auto;
  text-align: center;
}

.title p strong {
  width: 100px;
  color: #222222;
  font-size: 28px;
  font-weight: 800;
  margin: auto;
}

.main_base_style {
  width: 100%;
}

.main_base_style p {
  margin: 30px 0px;
}

.main_base_style .base_inner_div {
  width: 1190px;
  margin: auto;
}

.main_base_style .base_style_div {
  margin-bottom: 12px;
  position: relative;
}

.main_base_style .base_style_div .style_1 {
  width: 340px;
  height: 420px;
  margin-left: 20px;
}

.main_base_style .base_style_div .style_1 .style_1_hidden {
  width: 340px;
  height: 420px;
  border: 5px solid #222;
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: -1;
}

.main_base_style .base_style_div .style_2 {
  padding: 20px;
}

.main_base_style .base_style_div .style_2 .fir_sp {
  font-size: 22px;
  color: #222;
}

.main_base_style .base_style_div .style_2 .sec_sp {
  font-size: 14px;
  color: #666666;
}

.main_base_style .base_style_div .s2-center img {
  width: 350px;
  height: 180px;
}

.main_base_style .base_style_div .s2-bottom {
  margin: 10px 0px;
}

.main_base_style .base_style_div .s2-bottom img:nth-of-type(1) {
  margin-right: 10px;
}

.main_base_style .base_style_div .s2-bottom img {
  width: 170px;
  height: 180px;
  float: left;
}

.main_base_style .base_style_div,
.main_base_style .base_style_div1 {
  display: flex;
  justify-content: space-around;
}

.main_base_style .base_style_div > div,
.main_base_style .base_style_div1 > div {
  width: 350px;
  height: 400px;
  background: #ffffff;
}
